<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <title>計算結果確認</title>
        
        <!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/css/uikit.min.css" />
		
		<!-- jQuery is required -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<!-- UIkit JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>
    </head>
    
    <body>
        <div class="uk-container">
            <div class="uk-card uk-card-body uk-card-primary">
                <form action="#" th:action="@{/}" method="post">
                	<fieldset class="uk-fieldset">
                		<legend class="uk-legend">計算の基準となる日付を入力してください。</legend>
	                	
	                	<div class="uk-margin">
				            <input class="uk-input" type="text" placeholder="20181101" th:field="${simulationForm.baseDate}"/>
				        </div>
				        <button name="simulation" class="uk-button uk-button-default">計算実行</button>
				        <a class="uk-button uk-button-default" href="register">新規登録</a>
				        <button name="delete" class="uk-button uk-button-danger uk-align-right">削除</button>
				    </fieldset>
                </form>
            </div>
        </div>
        
        <div class="uk-container">
	        <table class="uk-table uk-table-striped uk-table-hover uk-table-justify uk-table-middle">
			    <thead>
			        <tr>
			            <th>No.</th>
			            <th>日付ID</th>
			            <th>日付名</th>
			            <th>計算結果</th>
			            <th>計算式(年月日)</th>
			        </tr>
			    </thead>
			    <tbody th:remove="all-but-first" th:each="dateMaster, stat : ${results}">
			        <tr>
			            <td th:text="${stat.count}">1</td>
			            <td th:text="${dateMaster.dateId}">abcde</td>
			            <td th:text="${dateMaster.dateName}">翌月末</td>
			            <td th:text="${dateMaster.calculated}">20181231</td>
			            <td th:text="${dateMaster.formula}">0/1/99</td>
			        </tr>
			        <tr>
			            <td>2</td>
			            <td>abcd</td>
			            <td>翌月</td>
			            <td>20181216</td>
			            <td>0/1/0</td>
			        </tr>
			        <tr>
			            <td>3</td>
			            <td>abc</td>
			            <td>翌日</td>
			            <td>20181117</td>
			            <td>0/0/1</td>
			        </tr>
			    </tbody>
			</table>
		</div>
        
        <script src="dist/bundle.js"></script>
    </body>
</html>